.navbar {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-content {
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center;
  width: 100%;
}

.navbar-tray {
  display: flex;
  align-items: center;
}
